# Python
__pycache__/
*.py[cod]
.venv/
venv/

# uv
.uv/

# ТОКЕН
.env

# Модель (монтируется томом, не нужна в образе)
models/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs
README.md
*.md